@use '../base' as *;
@use '_1_article-preview-v2.scss' as *;
@use '_1_pagination.scss' as *;

/* -------------------------------- 

File#: _2_article-gallery-v2
Title: Article Gallery v2
Descr: A gallery of blog articles
Usage: codyhouse.co/license

-------------------------------- */