@use '../base' as *;
@use '_1_countdown.scss' as *;

/* -------------------------------- 

File#: _2_deal-feature
Title: Deal Feature
Descr: Section displaying an active deal
Usage: codyhouse.co/license

-------------------------------- */