@use '../base' as *;
@use '_1_card-v9.scss' as *;

/* -------------------------------- 

File#: _2_gallery
Title: Gallery
Descr: A gallery of card components
Usage: codyhouse.co/license

-------------------------------- */