@use '../base' as *;
@use '_1_article-preview-v2.scss' as *;

/* -------------------------------- 

File#: _2_related-articles
Title: Related Articles
Descr: A list of related stories
Usage: codyhouse.co/license

-------------------------------- */