@use '../base' as *;
@use '_2_chart.scss' as *;
@use '_3_area-chart.scss' as *;

/* -------------------------------- 

File#: _4_area-chart-card
Title: Area Chart Card
Descr: Area chart card of app UI
Usage: codyhouse.co/license

-------------------------------- */